{% extends 'base.html' %}

<!--Body-->
{% block content %}

    {% for user in active_users %}
        <div class="card w-75 shadow-sm p-4 mx-auto mb-4" onclick="window.open('{{url_for('activity_detail', username=user.username)}}');" style="cursor: pointer;">
            <div class="input-size d-flex align-items-center">
                <a href="" class="text-decoration-none m-auto"><h3>{{user.username}}</h3></a>
                <p class="m-auto">Activity Type: <b>{{user.activity_type}}</b></p>
                <p class="m-auto">User State: <b>{{user.activity_status}}</b></p>
                {% if user.alerm_level %}
                <p class="m-auto">Alerm Level: <b>{{user.alerm_level}}</b></p>
                {% endif %}
                <p class="m-auto">User State Weight: <b>{{user.activity_weight}}</b></p>
            </div>
        </div>
    {% endfor %}

{% endblock content %}