{% extends 'base.html' %}

<!--Body-->
{% block content %}

    <!-- ================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>

    // let socket =new WebSocket('ws://127.0.0.1:8000/ws/running/syeed');
    let socket =new WebSocket('ws://127.0.0.1:8000/ws/monitor/user/{{username}}');

    // socket.onopen =function(e){
    //     alert('Connection established');
    // };

    socket.addEventListener('open', function (event) {
        socket.send('Hello Server!');
    });

    function update_data(dataObj, val, window) {
        dataObjNew = dataObj['data']['datasets'][0]['data'];
        dataObjNew.shift();
        dataObjNew.push(val);
        dataObj['data']['datasets'][0]['data'] = dataObjNew
        window.update();
    }

    socket.onmessage = function(e){
        console.log(e.data);
        var recData=JSON.parse(e.data);
        dataObjX = dataObjX
        dataObjY = dataObjY
        dataObjZ = dataObjZ
        update_data(dataObjX, recData.x, windowX)
        update_data(dataObjY, recData.y, windowY)
        update_data(dataObjZ, recData.z, windowZ)

        // setTimeout(() => {  socket.send("recieved") }, 1000);
        // setTimeout(() => {console.log("waiting for 1 sec")}, 1000);

    };

    socket.onclose = function(e){
        alert('Connection Closed. Only one live monitor can be open for one user');
    };
    
    </script>

    <h2 style="text-align: center;">User: {{username}}</h2>
    <body>
        <div style="max-width: 1800px; max-height: 220px; margin: auto;">
            <canvas id="myChartX" width="1000" height="120"></canvas>
        </div>
        <div style="max-width: 1800px; max-height: 220px; margin: auto;">
            <canvas id="myChartY" width="1000" height="120"></canvas>
        </div>
        <div style="max-width: 1800px; max-height: 220px; margin: auto;">
            <canvas id="myChartZ" width="1000" height="120"></canvas>
        </div>
    </body>
    
    <script>
        const labels = {{graph_labels|tojson}};
        const x_data = {{accumulator_data_x|tojson}};
        const y_data = {{accumulator_data_y|tojson}};
        const z_data = {{accumulator_data_z|tojson}};


    var dataObjX={
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Real time data for X',
                data: x_data,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    var dataObjY={
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Real time data for Y',
                data: y_data,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    var dataObjZ={
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Real time data for Z',
                data: z_data,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    // var dataObjY = dataObjX
    // var dataObjZ = dataObjX
    // dataObjY['data']['datasets'][0]['label'] = 'Real time data for Y'
    // dataObjZ['data']['datasets'][0]['label'] = 'Real time data for Z'

    var ctx = document.getElementById('myChartX').getContext('2d');
    var cty = document.getElementById('myChartY').getContext('2d');
    var ctz = document.getElementById('myChartZ').getContext('2d');

    windowX = window.myLine = new Chart(ctx,dataObjX );
    windowY = window.myLine = new Chart(cty,dataObjY );
    windowZ = window.myLine = new Chart(ctz,dataObjZ );

    </script>

{% endblock content %}